/* this a comment in a css file*/

* {
  margin: 5;
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif; /* will show how to do google forms later */
  /* will show how to do google fonty thing later */
  --primary-background-color: rgb(193, 232, 246);
  --text-border-color: rgb(83, 22, 126);
}

body {
  background-color: var(--primary-background-color);
  /* background-image:url(insertlink); */
  /* if image is smaller than size of background,
  the image will repeat one after the other
  can use background-repeat: no-repeat; to stop this */
  /* to change background size, background-size: contain; or cover,
  cover will go to borders, contain will keep inside borders */
}

#primary-heading {
  color: var(--text-border-color);
  border: 5px solid var(--text-border-color);
  border-radius: 5px;
  padding: 15px;
  /*use padding for space between border*/
  margin: 50px;
  /*use margin for space between 'containers'/'boxes'/'corners' on/of pages */
}

.heading-group {
  font-family: sans-serif;
}

/* tutorial for laying elements ou on the html document 
replicating the news subsection on the oakland.edu webpage */

/* root node of section  */
.new-events {
  padding: 10px;
}
/* immediate child of root node */
.section-title {
  padding: 10px;
  margin-bottom: 20px; /* separate next child vertically from this one */
  width: 100%; /* max-width, min-width. Same from height property  */
}

/* child of section-title, h3 */
.section-title-text {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  color: var(
    --text-border-color
  ); /* specify colors using hex code or rbg colors */
}

/* this controlls ALL of the wrapper for the news area,  */
.media-wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around; /* space around, space-between, space-evenly */
  align-items: center;
}

/* arrange children of media-wrapper horiziontally */
/* layout property needs to be applied to parent, not to child. 
 flex is applied to children */

.news-container {
  border: 2px solid var(--text-border-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; /* take up too much space? it will go to the next lien and continue */
}

.news-media {
  padding: 10px;
  margin-bottom: 30px;
  width: 175px;
  height: 100px;
  max-width: 150px;
  max-height: 150px;
}

.news-images {
  /* need to fix content size */
  width: 150px;
  height: 160px;
}
/*  news-text applies to direct child a which applies to direct child h3*/
.news-text > a > h3 {
  color: var(--text-border-color);
  font-size: 18px;
  text-decoration: none;
}
